<div class="contanier-fluid ">
        <div class="row" >
            <div class="col-md-12 col-12 max-auto ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12 header_left align-items-center">
                            <figure>
                                <img src="/img/about.png" alt="myimg" class="img-fluid">

                            </figure>
                        </div>
                        <div class="col-md-6 col-12 header_right">
                            
                            <h3>Hello Everyone <i class="far fa-hand-paper"></i></h3>
                            <h1>I Am Satyam Maddeshiya <span> Study at IIT KANPUR </span> learning web devlopment</h1>
                            <a href="https://www.instagram.com/satyam_iitk/" target="_blank"><button class="cssbtn" >About Me
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>