
            <form action="" class="temp_form">
                <input type="text" id="cityName" placeholder="Enter the City Name" autocomplete="off">
                <input type="submit" value="search" id="searchBtn">
            </form>


            <div class="tempInfo">
                <div class="top_layer">
                    <p id="day">Monday</p>
                    <p id="date">27 OCT</p>
                </div>
                    <hr>
                <div class="main_layer">
                    <p id="city_name">output shown here</p>
                    <div class="middle_layer hide_data">
                        <p id="temp"><span id="apitemp">N/A </span><sup> o</sup>C</p>
                        <P id="temp_status"><i class="fas fa-cloud"></i></P>
                    </div>
                    <div class="last_layer hide_data2">
                        <p id="min_temp">Min-Temp : <span id="api_mintemp">N/A </span><sup> o</sup>C</p>
                        <p id="max_temp">Max-Temp : <span id="api_maxtemp">N/A </span><sup> o</sup>C</p>

                    </div>
                </div>
            </div>